.app {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 $small-padding;

  @include respond-to(medium-up) {
    padding: 0 $large-padding;
  }

  .main {
    display: block;
    margin-bottom: $small-margin;
    margin-top: $small-margin;

    @include respond-to(small-up) {
      margin-top: $medium-margin;
    }
  }

  .button-submit {
    float: right;
    background: $button;
    color: white;
    border: 1px solid $button;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background 1s;

    &:hover {
      background: darken($button, 15);
      cursor: pointer;
      transition: background 1s;
    }
  }
}

