.dashboard2 {
  &__wireframe-img {
    height: 200px;
    width: 100%;
  }

  &__section {
    display: flex;

    &--left-link {
      @extend %left-link;
    }
  }

  g.x.axis text {
    transform: rotate(-90deg) translate(-30px,-15px);
  }

}
