body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
}

.home {
  &__wireframe-img {
    height: 200px;
    width: 100%;
  }

  &-box {
      &__header {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;

        & > h3 {
          display: inline;
          @extend %text--overflow;
        }

        &--right-link {
          @extend %right-link;
          @extend %text--overflow;
          padding-left: $small-padding;
      }

      &__video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }
    }

      g.x.axis text {
      transform: rotate(-90deg) translate(-30px,-18px);

    }
  }
}

.home-box_currency {
  text-align: center;
  // transform: translateX(10%);
}