.StyledTriangle-disappear{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.StyledTriangle-appear {
    visibility: visible;
    opacity: 100;
    transition: visibility 1s, opacity 0.5s linear;
}