// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/
$black: #000;
$white: #fff;
$blue-light: #f1f2f5;
$blue: #e0ebf3;
$blue-dark: #4f6793;
$blue-contrast: #51626f;
$blue-sky: #328cc1;
$san-marino: #3f51b5;
$ultra-marino: #1305a3;
$shin-cove: #7189b1;
$red-light: #ff5563;
$red: #dc1c24;
$red-dark: #ce423f;
$green: #9fd48a;
$green-medium: #88b04b;
$green-dark: #43a047;
$yellow: #f8e9a0;
$yellow-dark: #ffe461;
$orange: #df7514;
$gray-ultralight: #f6f6f6;
$gray-light: #d8d8d8;
$gray: #a6a6a6;
$gray-dark: #9b9c9b;
$inverse: #252830;
$inverse-light: lighten($inverse, 10%);
$inverse-lighter: lighten($inverse, 15%);
$inverse-lightest: lighten($inverse, 25%);
$body-bg: #f1f1f1;
$button: #3f51b5;

